<%- include('../components/home/header.ejs') %>
    <% if(locals.logoutError){ %>
        <div class="alert alert-danger m-3">
            <%= locals.logoutError %>
        </div>
    <% } %>
<%- include('../components/home/footer.ejs') %>